#!/bin/bash 

set -e

action=$1
version=$2

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0 || [ 0 -lt 30 ]

  db_set ampache/ampache/configure-webserver || true
  db_input critical ampache/configure-webserver || true
  db_go || true

  db_set ampache/restart-webserver || true
  db_subst ampache/restart-webserver webserver "$webserver"
  db_input critical ampache/restart-webserver || true
  db_go || true

