#!/usr/bin/make -f
# -*- makefile -*-

clean:
	dh_testdir
	dh_testroot
	dh_clean -k

install:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

build:

# Build architecture-dependent files here.
binary-arch: install
# We have nothing to do by default.
# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs debian/changelog
	dh_installdocs
	dh_install
	dh_installdebconf
	dh_link -A
	dh_compress
	dh_fixperms  
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol -pampache
	dh_md5sums
	dh_builddeb

binary: binary-indep 
.PHONY: clean binary-indep install


